#page2{
	display: none;
	width: 500px;
	height: 500px;
	background-color: yellowgreen;
	font-size: 60pt;
}

#page1{
	display: block;
	width: 500px;
	height: 500px;
	background-color: aqua;
}

#forwards{
	display: block;
	background-image: linear-gradient(to right, magenta, cyan);
}

#backwards{
	display: block;
	background-image: linear-gradient(to right, cyan, magenta);
}